
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <style>
        {#asset perf_device_styles.css @encoding=utf8}
    </style>   
</head>
    <body>
        <div class="device-box">
            <table cellpadding="0" cellspacing="0">
                <tr class="heading">
                    <td>장비 유형</td>
                    <td>장비명</td> 
                    <td>날짜</td>
                    <td>지표</td>
                </tr>
                
                {{!--{{{loggingData lookup_table}}}--}}
                
                {{!--{{#each lookup_table as |value key|}}--}}
                {{!--<tr>--}}
                {{!--    {{key}}, {{value}}--}}
                    {{!--<td>{{{getStrLabel 'MCH_TYPE_NM' key}}}</td>--}}
                    {{!--<td>{{{getStrLabel 'INDIC_TYPE' key}}}</td>--}}
                    
                    {{!--{{#each value as |childValue childKey|}}--}}
                    {{!--<td>{{childKey}}</td>--}}
                    {{!--<td>{{childValue}}</td>--}}
                    {{!--{{/each}}--}}
                    
                {{!--    {{#each value}}--}}
                {{!--    <td>{{value.MCH_TYPE_NM}}</td>--}}
                {{!--    <td>{{value.DATA.REG_DT}}</td>--}}
                {{!--    {{/each}}--}}
                {{!--</tr>--}}
                {{!--{{/each}}--}}
                
                {{#each lookup_table_chart as |value key|}}       {{!-- value : obj, key : DEVICE,INDIC --}}
                    {{#each value as |subValue subKey|}}    {{!-- subValue : arr, subKey : MCH_NM --}}
                        {{#each subValue}}
                        <tr>
                            <td>{{MCH_TYPE_NM}}</td>
                            <td>{{MCH_NM}}</td>
                            <td>{{REG_DT}}</td>
                            <td>{{INDIC_TYPE}}</td>
                        </tr>
                        {{/each}}
                    {{/each}}
                {{/each}}
                
                {{!--{{log lookup_table}}--}}
                
                {{!--{{#each perf_data}}--}}
                {{!--<tr class="item">--}}
                {{!--    <td>--}}
                {{!--        {{MCH_TYPE_NM}}--}}
                {{!--    </td>--}}
                {{!--    <td>--}}
                {{!--        {{MCH_NM}}--}}
                {{!--    </td>--}}
                {{!--    <td>--}}
                {{!--        {{REG_DT}}--}}
                {{!--    </td>--}}
                {{!--    <td>--}}
                {{!--        {{INDIC_TYPE}}--}}
                {{!--    </td>--}}
                {{!--</tr>--}}
                {{!--{{/each}}--}}
                
                {{!-- TEST handlebars function parameters --}}
                {{!--<tr>--}}
                {{!--    <td>{{{getStrLabel 'MCH_TYPE_NM' 'Router,CPU'}}}</td>--}}
                {{!--    <td>{{{getStrLabel 'INDIC_TYPE' 'Router,CPU'}}}</td>--}}
                {{!--    <td>'asdf'</td>--}}
                {{!--    <td>'aaaaa'</td>--}}
                {{!--</tr>--}}
            </table>    
        </div>
    </body>
</html>